* {
    box-sizing: border-box;
}

body {
    background-color: #c0c86d;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 100vh;
}

.bg {
    cursor: url(../img/cursor.png), default;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    width: 1920px;
    height: 1080px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.hole {
    background-color: black;
    border-radius: 50%;
    overflow: visible;
    height: 267px;
    width: 267px;
}

.hole-container {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mole {
    position: relative;
    right: 30px;
}

.hungry {
    cursor: url(../img/cursor-worm.png), default; 
}

.gone {
    display: none;
}

.hide {
    display: none;
}

.worm {
    width: 1660px;
}

.worm-container {
    overflow: hidden;
    transition: width 0.5s ease-in-out;
}

.worm-box {
    width: 1660px;
}

.win {
    background-image: url("../img/win.png");
    background-repeat: no-repeat;
    width: 1200px;
    height: 1200px;
}

.play-again {
    margin: 22.5rem;
    font-size: 3rem;
}

.win-container {
    margin: 55rem 0;
}

a:link {
    color: #c0c86d;
    text-decoration: none;
    background-image: none;
    background-color: #8C1F28;
    padding: 2rem;
    border-radius: 1rem;
}

a:visited {
    color: #c0c86d;
}

a:hover {
    color: white;
}

.midfing {
    height: 0;
}